<custom-completion mode="select" ng-model="userInput">
</custom-completion>
Output JSON: {{userInput}}
<br>
<custom-completion mode="add" ng-model="userList">
</custom-completion>
Output JSON: {{userList}}
